* {
    background-color: #fcffee;
}
.card{
    
    position: relative;
    text-align: center;
    width: 200px;
    height: 375px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    border-radius: 10px;
    transition:ease-out 300ms;
    padding-bottom: 15px;
    z-index: 1;

}
.card:hover{
    transform: scale(1.4);
    z-index: 2;
    /* transform: translateY(-2px); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* width: 115%;
    height: 115%; */
    /* object-fit: cover; */


}
.card.aktyvi_preke{
    transform: scale(1.8);
}
.aprasymas p{
    background-color: #eeffee;
    padding: 5px;
    font-size: 12px;
}
.aprasymas{
    border-radius: 0 0 5px 5px;
    background-color: #eeffee;
    border: 1px solid grey;
}
.aprasymas h3{
    background-color: #eeffee;

}
.pavadinimas{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}
main img{
    border-radius: 10px 10px 0 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.pirkti{
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00A86B;
    color: #e5eaf5;
    padding: 5px 10px 5px 10px;
    transition: ease-in-out 300ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pirkti:hover {
    transform: translateY(-5px);
  }

.krepselis{
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #0096FF;
    color: #e5eaf5;
    padding: 5px 10px 5px 10px;
    transition: ease-in-out 300ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.krepselis:hover {
    transform: translateY(-5px);
}

main h2{
    text-align: center;
}
.prekes{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    margin-bottom: 200px;
    padding-left: 50px;
}
.sachmatai > div{
display: flex;
width: 100px;
height: 100px;
margin: 5px;
padding: 10px;
justify-content: center;
align-items: center;
}
.pilka{
background-color: grey;
}
.melyna{
background-color: lightblue;
}
.zalia{
background-color: lightgreen; 
}
.rozine{
background-color: lightpink;
}
.sachmatai{
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px;
    column-gap: 0;
    margin-bottom: 100px;
}