* {
    background-color: lightgray;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 800px;
    
}
.menu > div{
    padding: 20px;
}
.window{
    width: 800px;
    background-color: white;
    height: 600px;
}
.active {
    color          : white;
    border-bottom  : 5px solid purple;
    padding-bottom : 1rem;
  }
.notactive {
    color: lightblue;
    color: blue;
    
    padding-bottom : 1rem;
}